.board {
    display: flex;
    flex-direction: row;
    border: solid 5px #002bff;
    border-radius: 5px;
    background-color: #;
  }
  .columns {
    display: flex;
    flex-direction: row;
    border:2px
  }